<!DOCTYPE html>
<html>
  <head>
    <title>KryptoKnight Beta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>KryptoKnight Beta</h1>
    <h2>Navigation Bar</h2>
    <ul class="nav navbar-nav">
      <li><%=link_to "Home", home_path%></li>
      <li><%=link_to "Signup", signup_path%></li>
      <li><%=link_to "Login", login_path %></li>
      <li><%=link_to "Exchange", exchange_path %></li>
      <li><%=link_to "Portfolio", portfolio_path %></li>
      <li><%=link_to "Help", help_path %></li>
      <li><%=link_to'Account Setting', account_setting_path%></li>
    </ul>

    <%= yield %>


  </body>
</html>
